* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

nav {
  width: 10%;
  float: left;
}

nav ul {
  padding: 0;
}

main {
  width: 60%;
  float: left;
  padding-left: 20px;
  margin-bottom: 30px;
}

main img {
  width: 100%;
}

aside {
  width: 30%;
  float: left;
}

h3 {
  margin: 0;
  font-size: 15px;
  margin-bottom: 30px;
}

aside + section {
  width: 40%;
  padding-left: 100px;
  float: left;
}

section h2 {
  font-size: 20px;
}

section span {
  font-size: 10px;
  display: block;
}

section p {
  width: 30%;
  font-size: 12px;
  margin-top: 50px;
  padding: 0 20px;
  float: left;
}

section + img {
  width: 20%;
  margin-top: 50px;
  float: left;
}
