/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 50rem;
}

iframe {
  display: none;
  height: 432px;
  width: 768px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
