* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.button {
  border: 1px solid #29465B;
  background: #29465B;
  color: white;
  padding: 3px 14px;
}

body {
  background: #d4dae1;
  color: #29465B;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
 width: 95%;
 margin: 0 auto;
}

header * {
  margin: 0;
  padding: 0;
  color: #29465B;
}

header ion-icon {
  display: none;
}

header h2 {
  font-size: 2rem;
}

nav {
  display: flex;
  margin-top: .3rem;
  font-size: 1.4rem;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 3rem;
}

nav li {
  flex-grow: 1;
}

main, div {
  display: flex;
  margin-left: 9rem;
}

main section {
  width: 35%;
  margin-top: 8rem;
} 

h1 {
  font-size: 3rem;
  width: 50%;
  margin-top: 1rem;
}

form .button {
  font-size: 1.3rem;
}

main section p {
  width: 65%;
  font-size: 1.4rem;
}

img {
  width: 65%;
  margin-top: 6rem;
}

div {
  margin-top: 8rem;
}

div section {
  width: 22%;
}

div ion-icon {
  height: 3rem;
  width: 3rem;
}

div h3 {
  font-size: 1.5rem;
}

div p {
  font-size: 1.4rem;
  width: 80%;
}

div a {
  font-size: 1.4rem;
  color: #29465B;
  font-weight: bold;
}

div + section {
  background: whitesmoke;
  padding: 0;
  display: flex;
  margin-top: 5rem;
  padding-left: 8rem;
}

section h4 {
  font-size: 6rem;
  margin-bottom: 0;
  margin-top: 6rem;
  width: 55%;
}

section section p {
  font-size: 1.4rem;
  width: 48%;
}

.bottom {
  background: #d4dae1;
  height: 2rem;
  margin-top: 3rem;
  width: 90%;
}

/* QUERIES */

/* @media (max-width: 1025px) {
  
}

@media (max-width: 769px) {
  
}

@media (max-width: 426px) {
  
}

@media (max-width: 376px) {
 
}  */